<footer>
  <span class="gradient"></span>
  <nav>
    <ul>
      <li>
        <a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">
          <span class="material-symbols-outlined">home</span>
        </a>
      </li>
      <li>
        <a href="/overview" class="<%= currentPath === '/overview' ? 'active' : '' %>">
          <span class="material-symbols-outlined">overview</span>
        </a>
      </li>
      <li>
        <a href="/matching" class="<%= currentPath === '/matching' ? 'active' : '' %>">
          <span class="material-symbols-outlined">handshake</span>
        </a>
      </li>
      <li>
        <a href="/profile" class="<%= currentPath === '/profile' ? 'active' : '' %>">
          <span class="material-symbols-outlined">person</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- DEBUG: <%= currentPath %> -->
</footer>
