<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/account.css">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>

<body class="container">

  <%- include('../partials/header'); %>

    <main>

      <img src="<%= user.imagePath %>" alt="Profielfoto" />

      <section>
        <h2>
          <%= user.firstName %>
            <%= user.lastName %>
        </h2>
        <p>
          <%= user.email %>
        </p>
      </section>

      <article class="profiel-bio">
        <div class="info-headings">
          <h3>
            <%= user.age %> jaar oud
          </h3>
          <h3>Buddy sinds <%= user.createdAt.toLocaleDateString() %>
          </h3>
        </div>
        <p>
          <%= user.bio %>
        </p>
      </article>

      <section>
        <h2>Mijn favoriete genres</h2>
        <ol>
          <% user.preferences.genres.forEach(function(genre) { %>
            <li>
              <%= genre %>
            </li>
            <% }) %>
        </ol>
      </section>


      <section>
        <h2>Matching voorkeuren</h2>
        <ul>
          <li><strong>Leeftijd:</strong>
            <%= user.preferences.minAge %> - <%= user.preferences.maxAge %>
          </li>
          <li><strong>Geslacht:</strong>
            <%= user.preferences.geslacht %>
          </li>
          <li><strong>Talen:</strong></li>
          <ul>
            <% user.preferences.taal.forEach(function(taal) { %>
              <% if (taal) { %>
                <li><%= taal %></li>
              <% } %>
            <% }) %>
          </ul>  
        </ul>
      </section>


    </main>

    <%- include('../partials/footer'); %>

</body>

</html>