<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/detail.css">
</head>
<body>
    <%- include('../partials/header'); %>
    <main>
        <% events.forEach(function(event) { %>
            <img src="<%= event.images[2].url %>" alt="Foto van Event">
            <h1><%= event.name %></h1>
            <p><strong>Datum:</strong><%= event.dates.start.localDate %></p>
            <p><strong>Tijd:</strong> <%= event.dates.start.localTime %></p>

            <p><strong>Locatie:</strong> <%= event._embedded.venues[0].name %></p>
            <p><strong>Stad:</strong> <%= event._embedded.venues[0].city.name %></p>
            <p><strong>Land:</strong> <%= event._embedded.venues[0].country.name %></p>
            
            <p>
                <strong>Tickets:</strong> 
                <a href="<%= event.url %>" target="_blank">Bekijk op Ticketmaster</a>
            </p>

            <p><strong>Genre:</strong> <%= event.classifications[0].genre.name %></p>
            <p><strong>Subgenre:</strong> <%= event.classifications[0].subGenre.name %></p>
        <% }); %>
        
        </ul> 
    </main>
    
    <%- include('../partials/footer'); %>
</body>
</html>