<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/overview.css">
</head>
<body>
    <%- include('../partials/header'); %>
    <main>

            <!-- Zoekbalk -->
    <form method="GET" action="/concerten" role="search" class="search-bar">
        <input 
          type="search" 
          name="q" 
          placeholder="Zoek concerten..." 
          value="<%= typeof query !== 'undefined' ? query : '' %>"
        />
      </form>
  
      <!-- Filter en Sorteer knoppen -->
      <nav class="controls">
        <button class="filter" type="button">Filter</button>
        <button class="sort" type="button">Sorteren</button>
      </nav>

    <!-- Concert cards -->
    <section>
         <article>
            <ul>
                <% events.forEach(function(event) { %>
                    <li>
                        <img src="<%= event.images[2].url %>" alt="Foto van Event">
                        <h1><%= event.name %></h1>
                        
                        <p><%= event.dates.start.localDate %></p>
                        <p><%= event._embedded.venues[0].city.name %></p>
                        
                        <!-- niet elk concert heeft een genre of subgenre dus hier code om dit op te lossen -->
                        <div>
                            <% if (
                                event.classifications &&
                                event.classifications.length > 0 &&
                                event.classifications[0].genre &&
                                event.classifications[0].genre.name
                                ) { %>
                                <p><%= event.classifications[0].genre.name %></p>
                                <% } else { %>
                                <p>Niet beschikbaar</p>
                            <% } %>

                            <% if (
                                event.classifications &&
                                event.classifications.length > 0 &&
                                event.classifications[0].subGenre &&
                                event.classifications[0].subGenre.name
                                ) { %>
                                <p><%= event.classifications[0].subGenre.name %></p>
                                <% } else { %>
                                <p>Niet beschikbaar</p>
                            <% } %>
                        </div>
                        

                    </li>
                <% }); %>
            </ul>
        </article>
    </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>