<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/registration.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header'); %>
    <main>
        <form action="/registration" method="POST" enctype="multipart/form-data" class="personalInformationWrapper">
            <fieldset id="persoonsGegevens">
              <div>
                <legend>Registreer</legend>
                <label for="firstName">Voornaam
                    <input type="text" name="firstName" placeholder="Enter your name"> 
                </label>
                <label for="lastName">Achternaam
                    <input type="text" name="lastName" placeholder="Enter your last name">
                </label>
                <label for="email">Email
                    <input type="email" name="email" placeholder="Enter your email">
                </label>
                <label for="password">Wachtwoord
                    <input type="password" name="password" placeholder="Enter your password">
                </label>
                <label for="age">Leeftijd
                    <input type="number" name="age" placeholder="Enter your age">
                </label>
                <section class="gender">
                <label>Geslacht</label>
                      <label for="man">Man
                        <input type="radio" name="geslacht" id="man" value="man">
                      </label>
                      <label for="vrouw">Vrouw
                        <input type="radio" name="geslacht" id="vrouw" value="vrouw">
                      </label>                      
                      <label for="anders">Anders
                        <input type="radio" name="geslacht" id="anders" value="anders">
                      </label>        
                      <label for="geenVoorkeur">Geen voorkeur
                        <input type="radio" name="geslacht" id="geenVoorkeur" value="nvt">
                      </label>
                </section>
                <label for="img">Profiel foto
                    <input type="file" name="img" accept="image/*">  
                </label>
                <label for="bio">Biografie
                    <textarea id="bio" name="bio"></textarea>
                </label>
                <section class="formNav">
                  <span></span>
                  <a href="#genres">Volgende</a>
                </section>
              </div>
            </fieldset>
            <fieldset id="genres" class="genres">
                <legend>Genres</legend>
                <ul>
                  <% genres.forEach(function(genre) { %>
                    <li>
                        <label for="<%= genre %>">
                          <input type="checkbox" name="genres[]" value="<%= genre %>" id="<%= genre %>">
                          <%= genre %>
                        </label>
                    </li>
                  <% }); %>
                </ul>
                <section class="formNav">
                  <a href="#persoonsGegevens">Vorige</a>
                  <a href="#matchVoorkeuren">Volgende</a>
                </section>
              </fieldset>
            
            <fieldset id="matchVoorkeuren">
                <legend>Matching voorkeuren</legend>
                    <h2>Leeftijd</h2>
                    <div class="values">
                      <span id="range1">
                        0
                      </span>
                      <span> &dash; </span>
                      <span id="range2">
                        100
                      </span>
                    </div>
                    <div class="container">
                      <div class="sliderTrack"></div>
                      <input type="range" min="18" max="100" value="18" id="slider-1" name="minAge" oninput="slideOne()">
                      <input type="range" min="18" max="100" value="100" id="slider-2" name="maxAge" oninput="slideTwo()">
                    </div>

                    <h2>Geslacht</h2>
                      <label for="man">Man
                        <input type="radio" name="geslacht" id="man" value="man">
                      </label>
                      <label for="vrouw">Vrouw
                        <input type="radio" name="geslacht" id="vrouw" value="vrouw">
                      </label>                      
                      <label for="anders">Anders
                        <input type="radio" name="geslacht" id="anders" value="anders">
                      </label>        
                      <label for="geenVoorkeur">Geen voorkeur
                        <input type="radio" name="geslacht" id="geenVoorkeur" value="nvt">
                      </label>            

                    <h2>taalvoorkeur</h2>
                      <label for="nl">Nederlands
                        <input type="radio" name="taal" id="nl" value="nl">
                      </label>
                      <label for="en">English
                        <input type="radio" name="taal" id="en" value="en">
                      </label>
                      <label for="nvt">Geen voorkeur
                        <input type="radio" name="taal" id="nvt" value="nvt">
                      </label>
                      <section class="formNav">
                        <a href="#genres">Vorige</a>
                        <input type="submit" value="Submit">
                      </section>
                <!-- https://codepen.io/alexpg96/pen/xxrBgbP -->
            </fieldset>
        </form>

    </main>
    <%- include('../partials/footer'); %>
    <script src="/registration.js"></script>
</body>