<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/registration.css">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header'); %>
    <main>
        <form action="/registration" method="POST" enctype="multipart/form-data" class="persoonsGegevensWrapper">
            <fieldset id="persoonsGegevens">
                <legend>persoonsGegevens</legend>
                <label for="firstName">Voornaam
                    <input type="text" name="firstName" placeholder="Enter your name"> 
                </label>
                <label for="lastName">Achternaam
                    <input type="text" name="lastName" placeholder="Enter your last name">
                </label>
                <label for="email">Email
                    <input type="email" name="email" placeholder="Enter your email">
                </label>
                <label for="password">Wachtwoord
                    <input type="password" name="password" placeholder="Enter your password">
                </label>
                <label for="age">Leeftijd
                    <input type="number" name="age" placeholder="Enter your age">
                </label>        
                <label for="img">Profiel foto
                    <input type="file" name="img" accept="image/*">  
                </label>
                <label for="bio">biografie
                    <textarea id="bio" name="bio"></textarea>
                </label>
                <input type="submit" value="Submit">
            </fieldset>
            <fieldset class="genres">
                <legend>Genres</legend>
                <ul>
                  <% genres.forEach(function(genre) { %>
                    <li>
                        <label for="<%= genre %>">
                          <input type="checkbox" name="genres" value="<%= genre %>" id="<%= genre %>">
                          <%= genre %>
                        </label>
                    </li>
                  <% }); %>
                </ul>
              </fieldset>
  
            <fieldset id="artiesten"></fieldset>
            
            <fieldset id="matchVoorkeuren">
                <legend>Matching voorkeuren</legend>
                    <h2>Leeftijd</h2>
                    <div class="values">
                      <span id="range1">
                        0
                      </span>
                      <span> &dash; </span>
                      <span id="range2">
                        100
                      </span>
                    </div>
                    <div class="container">
                      <div class="slider-track"></div>
                      <input type="range" min="18" max="100" value="30" id="slider-1" oninput="slideOne()">
                      <input type="range" min="18" max="100" value="70" id="slider-2" oninput="slideTwo()">
                    </div>

                    <h2>Geslacht</h2>
                      <label for="man">man
                        <input type="radio" name="geslacht" id="man">
                      </label>
                      <label for="vrouw">vrouw
                        <input type="radio" name="geslacht" id="vrouw">
                      </label>                      
                      <label for="anders">anders
                        <input type="radio" name="geslacht" id="anders">
                      </label>        
                      <label for="geenVoorkeur">geen voorkeur
                        <input type="radio" name="geslacht" id="geenVoorkeur">
                      </label>            

                    <h2>taalvoorkeur</h2>
                      <label for="nl">Nederlands
                        <input type="radio" name="taal" id="nl">
                      </label>
                      <label for="en">English
                        <input type="radio" name="taal" id="en">
                      </label>
                      <label for="nvt">Geen voorkeur
                        <input type="radio" name="taal" id="nvt">
                      </label>
                      <label for="else">Anders
                        <input type="text" name="taal" id="else">
                      </label>

                <!-- https://codepen.io/alexpg96/pen/xxrBgbP -->
            </fieldset>
        </form>

    </main>
    <%- include('../partials/footer'); %>
    <script src="/registration.js"></script>
</body>